@import 'tailwindcss';

:root {
	--background: #000000;
	--foreground: #fafbfa;
	--mute: #8aa08c;
	--neon: #10f300;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-mute: var(--mute);
	--color-neon: var(--neon);
	--font-sans: var(--font-montserrat);
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-montserrat), ui-sans-serif, system-ui, sans-serif;
}
